In [1]:
import pandas as pd
import numpy as np
from collectors.db import Influx
from collectors.clients import Binance
from dotenv import get_key
from datetime import datetime

URL = get_key('.env', 'URL')
TOKEN = get_key('.env', 'TOKEN')
ORG = get_key('.env', 'ORG')
BUCKET = get_key('.env', 'BUCKET')
API_KEY = get_key('.env', 'API_KEY')
API_SECRET = get_key('.env', 'API_SECRET')

In [4]:
with Influx(db_url= URL, db_token = TOKEN, db_org = ORG, db_bucket = BUCKET) as db, Binance(API_KEY, API_SECRET) as bn:
    test_data = db.select('Bitcoin', 'BTCUSDT', '2023-04-01', '2023-05-01',['open', 'close', 'high', 'low', 'volume'], to_dataframe=True)
    time = db.get_last_date('BTCUSDT')
test_data

                              close      high       low      open     volume
_time
2023-04-01 00:00:00+00:00  28480.07  28481.48  28465.36  28465.36   26.31939
2023-04-01 00:01:00+00:00  28465.37  28481.79  28465.36  28480.07   18.34987
2023-04-01 00:02:00+00:00  28464.41  28479.99  28457.43  28465.37   49.80521
2023-04-01 00:03:00+00:00  28453.98  28464.42  28451.92  28464.42   23.10271
2023-04-01 00:04:00+00:00  28453.55  28453.98  28448.94  28453.98   39.77908
...                             ...       ...       ...       ...        ...
2023-04-30 23:55:00+00:00  29304.59  29309.99  29297.60  29309.98   29.25519
2023-04-30 23:56:00+00:00  29297.71  29304.59  29293.81  29304.58   22.93114
2023-04-30 23:57:00+00:00  29280.06  29297.71  29268.73  29297.71   67.64327
2023-04-30 23:58:00+00:00  29258.93  29281.49  29243.07  29280.07   84.51976
2023-04-30 23:59:00+00:00  29233.21  29264.65  29177.92  29258.94  300.37501

[43200 rows x 5 columns]

In [5]:
Influx.resample(data=test_data, interval='1M')

                               open     high       low     close        volume
_time
2023-04-30 00:00:00+00:00  28465.36  31000.0  26942.82  29233.21  1.626746e+06

In [6]:
Influx.resample(data=test_data, interval='1w')

,open,high,low,close,volume
_time,,,,,
2023-04-02 00:00:00+00:00,28465.36,28819.71,27856.43,28171.87,67604.10445
2023-04-09 00:00:00+00:00,28171.87,28775.00,27200.24,28323.76,306532.39014
2023-04-16 00:00:00+00:00,28323.76,31000.00,28170.00,30304.65,377573.74044
2023-04-23 00:00:00+00:00,30304.66,30485.00,27125.00,27590.60,430421.84646
2023-04-30 00:00:00+00:00,27590.59,30036.00,26942.82,29233.21,444613.47701

In [7]:
Influx.resample(data=test_data, interval='1d')

,open,high,low,close,volume
_time,,,,,
2023-04-01 00:00:00+00:00,28465.36,28819.71,28220.27,28452.73,30238.44753
2023-04-02 00:00:00+00:00,28452.74,28530.00,27856.43,28171.87,37365.65692
2023-04-03 00:00:00+00:00,28171.87,28500.99,27200.24,27800.00,79180.01405
2023-04-04 00:00:00+00:00,27800.00,28444.44,27662.79,28165.47,49722.55691
2023-04-05 00:00:00+00:00,28165.47,28775.00,27805.10,28170.01,60737.64732
2023-04-06 00:00:00+00:00,28170.01,28182.05,27711.00,28033.82,40118.94963
2023-04-07 00:00:00+00:00,28033.83,28100.00,27766.94,27906.33,24762.09387
2023-04-08 00:00:00+00:00,27906.34,28154.99,27859.02,27938.38,19479.96735
2023-04-09 00:00:00+00:00,27938.38,28530.00,27800.00,28323.76,32531.16101
2023-04-10 00:00:00+00:00,28323.76,29770.00,28170.00,29637.34,67754.06220
2023-04-11 00:00:00+00:00,29637.35,30550.00,29590.00,30200.42,67990.07621
2023-04-12 00:00:00+00:00,30200.43,30486.00,29637.40,29888.07,62049.48451
2023-04-13 00:00:00+00:00,29888.07,30595.00,29854.59,30373.84,51934.11731
2023-04-14 00:00:00+00:00,30373.84,31000.00,29966.00,30466.93,75984.19452
2023-04-15 00:00:00+00:00,30466.93,30595.60,30202.00,30295.09,25429.81247
2023-04-16 00:00:00+00:00,30295.10,30549.99,30120.00,30304.65,26431.99322
2023-04-17 00:00:00+00:00,30304.66,30316.06,29240.65,29430.27,56441.81127
2023-04-18 00:00:00+00:00,29430.27,30485.00,29096.78,30380.01,62004.89434
2023-04-19 00:00:00+00:00,30380.01,30413.53,28520.00,28797.10,86575.48656
2023-04-20 00:00:00+00:00,28797.10,29088.30,28010.00,28243.65,76879.09372
2023-04-21 00:00:00+00:00,28243.65,28374.02,27125.00,27262.84,77684.76790
2023-04-22 00:00:00+00:00,27262.84,27882.72,27140.35,27816.85,36023.69686
2023-04-23 00:00:00+00:00,27816.85,27816.85,27311.25,27590.60,34812.09581
2023-04-24 00:00:00+00:00,27590.59,28000.00,26942.82,27510.93,53111.56874
2023-04-25 00:00:00+00:00,27510.93,28399.99,27192.00,28300.79,52325.14637
2023-04-26 00:00:00+00:00,28300.80,30036.00,27235.00,28415.29,129228.40403
2023-04-27 00:00:00+00:00,28415.29,29890.00,28378.86,29472.77,95430.82431
2023-04-28 00:00:00+00:00,29472.77,29599.54,28891.00,29311.70,54298.16578
2023-04-29 00:00:00+00:00,29311.69,29448.88,29031.00,29230.45,20466.83058
2023-04-30 00:00:00+00:00,29230.45,29969.39,29079.59,29233.21,39752.53720

In [8]:
Influx.resample(data=test_data, interval='1h')

                               open      high       low     close      volume
_time
2023-04-01 00:00:00+00:00  28465.36  28547.20  28408.57  28438.27  1524.81719
2023-04-01 01:00:00+00:00  28438.26  28625.61  28410.35  28610.63  1458.59279
2023-04-01 02:00:00+00:00  28610.62  28819.71  28467.31  28583.36  3522.34366
2023-04-01 03:00:00+00:00  28583.36  28603.78  28503.29  28541.10  1088.35997
2023-04-01 04:00:00+00:00  28541.10  28625.10  28526.59  28580.00  1117.54084
...                             ...       ...       ...       ...         ...
2023-04-30 19:00:00+00:00  29577.09  29594.35  29211.28  29361.13  4599.07143
2023-04-30 20:00:00+00:00  29361.13  29361.13  29160.96  29329.89  2919.70607
2023-04-30 21:00:00+00:00  29329.90  29486.50  29316.39  29411.21  1700.77908
2023-04-30 22:00:00+00:00  29411.21  29432.15  29367.15  29378.72   784.42099
2023-04-30 23:00:00+00:00  29378.72  29420.23  29177.92  29233.21  1865.41838

[720 rows x 5 columns]