In [2]:
import pandas as pd
import numpy as np
from collectors.db import Influx
from collectors.clients import Binance
from dotenv import get_key
from datetime import datetime

URL = get_key('.env', 'URL')
TOKEN = get_key('.env', 'TOKEN')
ORG = get_key('.env', 'ORG')
BUCKET = get_key('.env', 'BUCKET')
API_KEY = get_key('.env', 'API_KEY')
API_SECRET = get_key('.env', 'API_SECRET')

In [3]:
with Influx(db_url= URL, db_token = TOKEN, db_org = ORG, db_bucket = BUCKET) as db, Binance(API_KEY, API_SECRET) as bn:
    test_data = db.select('Bitcoin', 'BTCUSDT', '2023-04-01', '2023-05-19',['open', 'close', 'high', 'low', 'volume'], to_dataframe=True)
    time = db.get_last_date('BTCUSDT')
test_data

                              close      high       low      open    volume
_time
2023-04-01 00:00:00+00:00  28480.07  28481.48  28465.36  28465.36  26.31939
2023-04-01 00:01:00+00:00  28465.37  28481.79  28465.36  28480.07  18.34987
2023-04-01 00:02:00+00:00  28464.41  28479.99  28457.43  28465.37  49.80521
2023-04-01 00:03:00+00:00  28453.98  28464.42  28451.92  28464.42  23.10271
2023-04-01 00:04:00+00:00  28453.55  28453.98  28448.94  28453.98  39.77908
...                             ...       ...       ...       ...       ...
2023-05-18 23:55:00+00:00  26834.28  26837.99  26826.25  26837.99  14.79627
2023-05-18 23:56:00+00:00  26835.55  26835.79  26834.29  26834.29   6.09439
2023-05-18 23:57:00+00:00  26845.32  26845.33  26835.54  26835.54   3.91264
2023-05-18 23:58:00+00:00  26830.00  26845.33  26830.00  26845.32   9.76808
2023-05-18 23:59:00+00:00  26821.28  26830.01  26821.27  26830.00   4.85368

[69120 rows x 5 columns]

In [6]:
Influx.resample(data=test_data, interval='1M')

                               open     high       low     close        volume
_time
2023-04-30 00:00:00+00:00  28465.36  31000.0  26942.82  29233.21  1.626746e+06
2023-05-31 00:00:00+00:00  29233.20  29820.0  25811.46  26821.28  8.647419e+05

In [6]:
Influx.resample(data=test_data, interval='1w')

,open,high,low,close,volume
_time,,,,,
2023-04-02 00:00:00+00:00,28465.36,28819.71,27856.43,28171.87,67604.10445
2023-04-09 00:00:00+00:00,28171.87,28775.00,27200.24,28323.76,306532.39014
2023-04-16 00:00:00+00:00,28323.76,31000.00,28170.00,30304.65,377573.74044
2023-04-23 00:00:00+00:00,30304.66,30485.00,27125.00,27590.60,430421.84646
2023-04-30 00:00:00+00:00,27590.59,30036.00,26942.82,29233.21,444613.47701

In [7]:
Influx.resample(data=test_data, interval='1d')

,open,high,low,close,volume
_time,,,,,
2023-04-01 00:00:00+00:00,28465.36,28819.71,28220.27,28452.73,30238.44753
2023-04-02 00:00:00+00:00,28452.74,28530.00,27856.43,28171.87,37365.65692
2023-04-03 00:00:00+00:00,28171.87,28500.99,27200.24,27800.00,79180.01405
2023-04-04 00:00:00+00:00,27800.00,28444.44,27662.79,28165.47,49722.55691
2023-04-05 00:00:00+00:00,28165.47,28775.00,27805.10,28170.01,60737.64732
2023-04-06 00:00:00+00:00,28170.01,28182.05,27711.00,28033.82,40118.94963
2023-04-07 00:00:00+00:00,28033.83,28100.00,27766.94,27906.33,24762.09387
2023-04-08 00:00:00+00:00,27906.34,28154.99,27859.02,27938.38,19479.96735
2023-04-09 00:00:00+00:00,27938.38,28530.00,27800.00,28323.76,32531.16101
2023-04-10 00:00:00+00:00,28323.76,29770.00,28170.00,29637.34,67754.06220
2023-04-11 00:00:00+00:00,29637.35,30550.00,29590.00,30200.42,67990.07621
2023-04-12 00:00:00+00:00,30200.43,30486.00,29637.40,29888.07,62049.48451
2023-04-13 00:00:00+00:00,29888.07,30595.00,29854.59,30373.84,51934.11731
2023-04-14 00:00:00+00:00,30373.84,31000.00,29966.00,30466.93,75984.19452
2023-04-15 00:00:00+00:00,30466.93,30595.60,30202.00,30295.09,25429.81247
2023-04-16 00:00:00+00:00,30295.10,30549.99,30120.00,30304.65,26431.99322
2023-04-17 00:00:00+00:00,30304.66,30316.06,29240.65,29430.27,56441.81127
2023-04-18 00:00:00+00:00,29430.27,30485.00,29096.78,30380.01,62004.89434
2023-04-19 00:00:00+00:00,30380.01,30413.53,28520.00,28797.10,86575.48656
2023-04-20 00:00:00+00:00,28797.10,29088.30,28010.00,28243.65,76879.09372
2023-04-21 00:00:00+00:00,28243.65,28374.02,27125.00,27262.84,77684.76790
2023-04-22 00:00:00+00:00,27262.84,27882.72,27140.35,27816.85,36023.69686
2023-04-23 00:00:00+00:00,27816.85,27816.85,27311.25,27590.60,34812.09581
2023-04-24 00:00:00+00:00,27590.59,28000.00,26942.82,27510.93,53111.56874
2023-04-25 00:00:00+00:00,27510.93,28399.99,27192.00,28300.79,52325.14637
2023-04-26 00:00:00+00:00,28300.80,30036.00,27235.00,28415.29,129228.40403
2023-04-27 00:00:00+00:00,28415.29,29890.00,28378.86,29472.77,95430.82431
2023-04-28 00:00:00+00:00,29472.77,29599.54,28891.00,29311.70,54298.16578
2023-04-29 00:00:00+00:00,29311.69,29448.88,29031.00,29230.45,20466.83058
2023-04-30 00:00:00+00:00,29230.45,29969.39,29079.59,29233.21,39752.53720

In [7]:
Influx.resample(data=test_data, interval='12h')

                               open      high       low     close       volume
_time
2023-04-01 00:00:00+00:00  28465.36  28819.71  28351.35  28372.85  17401.42852
2023-04-01 12:00:00+00:00  28372.84  28577.00  28220.27  28452.73  12837.01901
2023-04-02 00:00:00+00:00  28452.74  28530.00  28306.80  28357.93   9927.55059
2023-04-02 12:00:00+00:00  28357.93  28361.00  27856.43  28171.87  27438.10633
2023-04-03 00:00:00+00:00  28171.87  28500.99  27560.00  28253.73  35642.73166
...                             ...       ...       ...       ...          ...
2023-05-16 12:00:00+00:00  27059.03  27151.51  26880.00  27033.84  15254.34597
2023-05-17 00:00:00+00:00  27033.85  27238.55  26573.62  26637.62  17192.52543
2023-05-17 12:00:00+00:00  26637.61  27500.00  26544.71  27405.61  25766.45242
2023-05-18 00:00:00+00:00  27405.62  27485.33  27152.29  27398.97  15414.64529
2023-05-18 12:00:00+00:00  27398.97  27472.14  26361.20  26821.28  33784.00614

[96 rows x 5 columns]

In [9]:
Influx.resample(data=test_data, interval='8h')

                               open      high       low     close       volume
_time
2023-04-01 00:00:00+00:00  28465.36  28819.71  28351.35  28424.99  13267.31982
2023-04-01 08:00:00+00:00  28424.98  28485.11  28220.27  28400.07   9321.73885
2023-04-01 16:00:00+00:00  28400.07  28577.00  28280.00  28452.73   7649.38886
2023-04-02 00:00:00+00:00  28452.74  28530.00  28355.00  28416.38   6445.44031
2023-04-02 08:00:00+00:00  28416.37  28450.90  28037.59  28124.81  13892.91021
...                             ...       ...       ...       ...          ...
2023-05-17 08:00:00+00:00  26845.14  26914.30  26544.71  26796.93  15895.54406
2023-05-17 16:00:00+00:00  26796.93  27500.00  26741.36  27405.61  17554.47770
2023-05-18 00:00:00+00:00  27405.62  27485.33  27152.29  27391.61  10481.92483
2023-05-18 08:00:00+00:00  27391.61  27472.14  27021.95  27086.77  16312.63621
2023-05-18 16:00:00+00:00  27086.78  27118.36  26361.20  26821.28  22404.09039

[144 rows x 5 columns]

In [10]:
Influx.resample(data=test_data, interval='6h')

                               open      high       low     close       volume
_time
2023-04-01 00:00:00+00:00  28465.36  28819.71  28408.57  28571.08   9519.99996
2023-04-01 06:00:00+00:00  28571.08  28572.93  28351.35  28372.85   7881.42856
2023-04-01 12:00:00+00:00  28372.84  28473.90  28220.27  28372.37   7400.00828
2023-04-01 18:00:00+00:00  28372.36  28577.00  28333.19  28452.73   5437.01073
2023-04-02 00:00:00+00:00  28452.74  28530.00  28355.00  28470.01   4932.87323
...                             ...       ...       ...       ...          ...
2023-05-17 18:00:00+00:00  27086.12  27500.00  27064.95  27405.61  12695.83570
2023-05-18 00:00:00+00:00  27405.62  27485.33  27217.01  27220.16   6785.32966
2023-05-18 06:00:00+00:00  27220.16  27454.14  27152.29  27398.97   8629.31563
2023-05-18 12:00:00+00:00  27398.97  27472.14  26361.20  26488.99  21905.43093
2023-05-18 18:00:00+00:00  26489.00  27065.27  26409.77  26821.28  11878.57521

[192 rows x 5 columns]

In [11]:
Influx.resample(data=test_data, interval='4h')

                               open      high       low     close       volume
_time
2023-04-01 00:00:00+00:00  28465.36  28819.71  28408.57  28541.10   7594.11361
2023-04-01 04:00:00+00:00  28541.10  28625.10  28351.35  28424.99   5673.20621
2023-04-01 08:00:00+00:00  28424.98  28485.11  28360.65  28372.85   4134.10870
2023-04-01 12:00:00+00:00  28372.84  28473.90  28220.27  28400.07   5187.63015
2023-04-01 16:00:00+00:00  28400.07  28443.04  28280.00  28381.98   3397.25326
...                             ...       ...       ...       ...          ...
2023-05-18 04:00:00+00:00  27365.69  27454.14  27152.29  27391.61   5687.90418
2023-05-18 08:00:00+00:00  27391.61  27440.01  27334.02  27398.97   4932.72046
2023-05-18 12:00:00+00:00  27398.97  27472.14  27021.95  27086.77  11379.91575
2023-05-18 16:00:00+00:00  27086.78  27118.36  26361.20  26734.01  17649.21430
2023-05-18 20:00:00+00:00  26734.01  27065.27  26691.20  26821.28   4754.87609

[288 rows x 5 columns]

In [12]:
Influx.resample(data=test_data, interval='3h')

                               open      high       low     close       volume
_time
2023-04-01 00:00:00+00:00  28465.36  28819.71  28408.57  28583.36   6505.75364
2023-04-01 03:00:00+00:00  28583.36  28625.10  28503.29  28571.08   3014.24632
2023-04-01 06:00:00+00:00  28571.08  28572.93  28351.35  28440.56   5193.38972
2023-04-01 09:00:00+00:00  28440.56  28475.97  28360.65  28372.85   2688.03884
2023-04-01 12:00:00+00:00  28372.84  28473.90  28292.32  28318.04   3582.18311
...                             ...       ...       ...       ...          ...
2023-05-18 09:00:00+00:00  27388.53  27430.00  27334.02  27398.97   3231.96818
2023-05-18 12:00:00+00:00  27398.97  27472.14  27021.95  27244.99   8415.20793
2023-05-18 15:00:00+00:00  27245.00  27300.00  26361.20  26488.99  13490.22300
2023-05-18 18:00:00+00:00  26489.00  26847.99  26409.77  26720.63   8235.38595
2023-05-18 21:00:00+00:00  26720.63  27065.27  26720.63  26821.28   3643.18926

[384 rows x 5 columns]

In [13]:
Influx.resample(data=test_data, interval='2h')

                               open      high       low     close       volume
_time
2023-04-01 00:00:00+00:00  28465.36  28625.61  28408.57  28610.63   2983.40998
2023-04-01 02:00:00+00:00  28610.62  28819.71  28467.31  28541.10   4610.70363
2023-04-01 04:00:00+00:00  28541.10  28625.10  28526.59  28571.08   1925.88635
2023-04-01 06:00:00+00:00  28571.08  28572.93  28351.35  28424.99   3747.31986
2023-04-01 08:00:00+00:00  28424.98  28485.11  28389.37  28425.49   2201.48307
...                             ...       ...       ...       ...          ...
2023-05-18 14:00:00+00:00  27257.21  27404.51  27021.95  27086.77   6805.90993
2023-05-18 16:00:00+00:00  27086.78  27118.36  26361.20  26488.99  10525.51518
2023-05-18 18:00:00+00:00  26489.00  26847.99  26409.77  26734.01   7123.69912
2023-05-18 20:00:00+00:00  26734.01  27065.27  26691.20  26917.24   3267.24220
2023-05-18 22:00:00+00:00  26917.24  26948.14  26817.48  26821.28   1487.63389

[576 rows x 5 columns]

In [14]:
Influx.resample(data=test_data, interval='1h')

                               open      high       low     close      volume
_time
2023-04-01 00:00:00+00:00  28465.36  28547.20  28408.57  28438.27  1524.81719
2023-04-01 01:00:00+00:00  28438.26  28625.61  28410.35  28610.63  1458.59279
2023-04-01 02:00:00+00:00  28610.62  28819.71  28467.31  28583.36  3522.34366
2023-04-01 03:00:00+00:00  28583.36  28603.78  28503.29  28541.10  1088.35997
2023-04-01 04:00:00+00:00  28541.10  28625.10  28526.59  28580.00  1117.54084
...                             ...       ...       ...       ...         ...
2023-05-18 19:00:00+00:00  26617.62  26847.99  26572.71  26734.01  2789.36175
2023-05-18 20:00:00+00:00  26734.01  26771.53  26691.20  26720.63  1111.68683
2023-05-18 21:00:00+00:00  26720.63  27065.27  26720.63  26917.24  2155.55537
2023-05-18 22:00:00+00:00  26917.24  26948.14  26843.93  26891.75   792.82654
2023-05-18 23:00:00+00:00  26891.74  26894.92  26817.48  26821.28   694.80735

[1152 rows x 5 columns]

In [15]:
Influx.resample(data=test_data, interval='90min')

                               open      high       low     close      volume
_time
2023-04-01 00:00:00+00:00  28465.36  28547.20  28408.57  28437.58  1973.43779
2023-04-01 01:30:00+00:00  28437.59  28819.71  28437.58  28583.36  4532.31585
2023-04-01 03:00:00+00:00  28583.36  28603.78  28503.29  28592.77  1720.51815
2023-04-01 04:30:00+00:00  28592.76  28625.10  28530.59  28571.08  1293.72817
2023-04-01 06:00:00+00:00  28571.08  28572.93  28351.35  28402.05  3298.36842
...                             ...       ...       ...       ...         ...
2023-05-18 16:30:00+00:00  27033.53  27118.36  26361.20  26488.99  9006.68684
2023-05-18 18:00:00+00:00  26489.00  26661.50  26409.77  26626.71  5213.34297
2023-05-18 19:30:00+00:00  26626.72  26847.99  26626.71  26720.63  3022.04298
2023-05-18 21:00:00+00:00  26720.63  27065.27  26720.63  26885.73  2625.25203
2023-05-18 22:30:00+00:00  26885.73  26908.40  26817.48  26821.28  1017.93723

[768 rows x 5 columns]

In [16]:
Influx.resample(data=test_data, interval='45min')

                               open      high       low     close      volume
_time
2023-04-01 00:00:00+00:00  28465.36  28547.20  28411.38  28439.81  1213.28042
2023-04-01 00:45:00+00:00  28439.80  28460.03  28408.57  28437.58   760.15737
2023-04-01 01:30:00+00:00  28437.59  28819.71  28437.58  28672.39  2794.18121
2023-04-01 02:15:00+00:00  28672.39  28693.06  28467.31  28583.36  1738.13464
2023-04-01 03:00:00+00:00  28583.36  28603.78  28503.29  28528.06   903.00776
...                             ...       ...       ...       ...         ...
2023-05-18 20:15:00+00:00  26718.00  26771.53  26715.00  26720.63   613.15328
2023-05-18 21:00:00+00:00  26720.63  27065.27  26720.63  27000.03  1902.77846
2023-05-18 21:45:00+00:00  27000.02  27000.02  26874.45  26885.73   722.47357
2023-05-18 22:30:00+00:00  26885.73  26908.40  26843.93  26849.95   525.87607
2023-05-18 23:15:00+00:00  26849.95  26894.92  26817.48  26821.28   492.06116

[1536 rows x 5 columns]

In [17]:
Influx.resample(data=test_data, interval='30min')

                               open      high       low     close      volume
_time
2023-04-01 00:00:00+00:00  28465.36  28547.20  28448.94  28488.65   784.15279
2023-04-01 00:30:00+00:00  28488.66  28499.82  28408.57  28438.27   740.66440
2023-04-01 01:00:00+00:00  28438.26  28460.03  28410.35  28437.58   448.62060
2023-04-01 01:30:00+00:00  28437.59  28625.61  28437.58  28610.63  1009.97219
2023-04-01 02:00:00+00:00  28610.62  28819.71  28530.01  28605.21  2488.21651
...                             ...       ...       ...       ...         ...
2023-05-18 21:30:00+00:00  26833.77  27065.27  26811.41  26917.24  1326.36628
2023-05-18 22:00:00+00:00  26917.24  26948.14  26874.45  26885.73   469.69666
2023-05-18 22:30:00+00:00  26885.73  26908.40  26843.93  26891.75   323.12988
2023-05-18 23:00:00+00:00  26891.74  26891.75  26836.52  26844.28   360.48799
2023-05-18 23:30:00+00:00  26844.28  26894.92  26817.48  26821.28   334.31936

[2304 rows x 5 columns]

In [18]:
Influx.resample(data=test_data, interval='15min')

                               open      high       low     close     volume
_time
2023-04-01 00:00:00+00:00  28465.36  28500.00  28448.94  28500.00  329.11997
2023-04-01 00:15:00+00:00  28499.99  28547.20  28468.06  28488.65  455.03282
2023-04-01 00:30:00+00:00  28488.66  28499.82  28411.38  28439.81  429.12763
2023-04-01 00:45:00+00:00  28439.80  28448.15  28408.57  28438.27  311.53677
2023-04-01 01:00:00+00:00  28438.26  28460.03  28410.35  28432.83  240.11132
...                             ...       ...       ...       ...        ...
2023-05-18 22:45:00+00:00  26862.75  26908.40  26859.61  26891.75  145.60070
2023-05-18 23:00:00+00:00  26891.74  26891.75  26848.34  26849.95  202.74619
2023-05-18 23:15:00+00:00  26849.95  26862.50  26836.52  26844.28  157.74180
2023-05-18 23:30:00+00:00  26844.28  26849.98  26817.48  26848.89  189.40128
2023-05-18 23:45:00+00:00  26848.89  26894.92  26821.27  26821.28  144.91808

[4608 rows x 5 columns]

In [19]:
Influx.resample(data=test_data, interval='7min')

                               open      high       low     close     volume
_time
2023-04-01 00:00:00+00:00  28465.36  28483.42  28448.94  28483.41  205.29904
2023-04-01 00:07:00+00:00  28483.41  28497.95  28479.16  28497.95  115.91348
2023-04-01 00:14:00+00:00  28497.94  28547.20  28497.94  28539.98  235.98644
2023-04-01 00:21:00+00:00  28539.99  28539.99  28468.06  28495.59  195.25519
2023-04-01 00:28:00+00:00  28495.60  28495.60  28459.97  28480.00  212.98291
...                             ...       ...       ...       ...        ...
2023-05-18 23:30:00+00:00  26844.28  26848.84  26817.48  26824.28   90.46330
2023-05-18 23:37:00+00:00  26824.28  26849.98  26824.28  26849.98   92.13038
2023-05-18 23:44:00+00:00  26849.97  26894.92  26848.88  26855.52   82.06405
2023-05-18 23:51:00+00:00  26855.52  26855.53  26826.25  26845.32   55.03987
2023-05-18 23:58:00+00:00  26845.32  26845.33  26821.27  26821.28   14.62176

[9875 rows x 5 columns]

In [20]:
Influx.resample(data=test_data, interval='5min')

                               open      high       low     close     volume
_time
2023-04-01 00:00:00+00:00  28465.36  28481.79  28448.94  28453.55  157.35626
2023-04-01 00:05:00+00:00  28453.55  28494.24  28451.77  28493.54  100.46294
2023-04-01 00:10:00+00:00  28493.54  28500.00  28479.16  28500.00   71.30077
2023-04-01 00:15:00+00:00  28499.99  28547.20  28499.99  28539.98  195.85763
2023-04-01 00:20:00+00:00  28539.98  28539.99  28468.06  28480.01  168.33502
...                             ...       ...       ...       ...        ...
2023-05-18 23:35:00+00:00  26826.65  26840.23  26817.48  26839.64   61.76741
2023-05-18 23:40:00+00:00  26839.65  26849.98  26839.33  26848.89   76.30900
2023-05-18 23:45:00+00:00  26848.89  26894.92  26848.88  26865.11   66.81097
2023-05-18 23:50:00+00:00  26865.11  26865.12  26831.26  26837.99   38.68205
2023-05-18 23:55:00+00:00  26837.99  26845.33  26821.27  26821.28   39.42506

[13824 rows x 5 columns]

In [21]:
Influx.resample(data=test_data, interval='3min')

                               open      high       low     close    volume
_time
2023-04-01 00:00:00+00:00  28465.36  28481.79  28457.43  28464.41  94.47447
2023-04-01 00:03:00+00:00  28464.42  28470.35  28448.94  28470.14  92.42895
2023-04-01 00:06:00+00:00  28470.35  28491.14  28470.15  28491.14  54.25596
2023-04-01 00:09:00+00:00  28491.13  28494.24  28479.16  28480.29  49.53816
2023-04-01 00:12:00+00:00  28480.29  28500.00  28480.29  28500.00  38.42243
...                             ...       ...       ...       ...       ...
2023-05-18 23:45:00+00:00  26848.89  26894.92  26848.88  26886.17  49.19880
2023-05-18 23:48:00+00:00  26886.18  26886.18  26852.40  26855.52  26.05765
2023-05-18 23:51:00+00:00  26855.52  26855.53  26842.31  26842.33  15.69763
2023-05-18 23:54:00+00:00  26842.34  26851.90  26826.25  26835.55  35.42960
2023-05-18 23:57:00+00:00  26835.54  26845.33  26821.27  26821.28  18.53440

[23040 rows x 5 columns]