In [1]:
import pandas as pd
import numpy as np
from collectors.db import Influx
from collectors.clients import Binance
from dotenv import get_key
from datetime import datetime

URL = get_key('.env', 'URL')
TOKEN = get_key('.env', 'TOKEN')
ORG = get_key('.env', 'ORG')
BUCKET = get_key('.env', 'BUCKET')
API_KEY = get_key('.env', 'API_KEY')
API_SECRET = get_key('.env', 'API_SECRET')

In [2]:
with Influx(db_url= URL, db_token = TOKEN, db_org = ORG, db_bucket = BUCKET) as db, Binance(API_KEY, API_SECRET) as bn:
    test_data = db.select('Bitcoin', 'BTCUSDT', '2023-04-14', '2023-05-15',['open', 'close', 'high', 'low', 'volume'], to_dataframe=True)
    time = db.get_last_date('BTCUSDT')
test_data

                              close      high       low      open    volume
_time
2023-04-14 00:00:00+00:00  30379.01  30381.05  30373.84  30373.84  44.36474
2023-04-14 00:01:00+00:00  30376.40  30379.01  30376.15  30379.01  26.82161
2023-04-14 00:02:00+00:00  30378.98  30378.99  30376.40  30376.40  26.16141
2023-04-14 00:03:00+00:00  30370.60  30385.68  30370.60  30378.99  33.50568
2023-04-14 00:04:00+00:00  30370.75  30381.22  30370.37  30370.60  31.17982
...                             ...       ...       ...       ...       ...
2023-05-14 23:55:00+00:00  26915.56  26915.56  26906.22  26906.23   2.76147
2023-05-14 23:56:00+00:00  26916.56  26916.57  26915.55  26915.55   3.17238
2023-05-14 23:57:00+00:00  26916.56  26916.57  26916.56  26916.56   2.21242
2023-05-14 23:58:00+00:00  26916.57  26916.57  26916.56  26916.56   1.25396
2023-05-14 23:59:00+00:00  26917.62  26917.62  26916.56  26916.56   3.36305

[44640 rows x 5 columns]

In [3]:
Influx.resample(data=test_data, interval='1W')

,close,high,low,open,volume
_time,,,,,
2023-04-16 00:00:00+00:00,30416.803299,30421.907139,30411.399838,30416.819991,29.593982
2023-04-23 00:00:00+00:00,28688.041256,28696.084035,28679.601014,28688.308628,42.700580
2023-04-30 00:00:00+00:00,28707.464433,28717.448640,28697.444223,28707.302673,44.108480
2023-05-07 00:00:00+00:00,28780.844204,28789.578868,28771.740779,28780.924232,35.725990
2023-05-14 00:00:00+00:00,27241.212511,27249.255062,27233.061523,27241.367238,33.607713